.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 700px;
    background-image: url('~/assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    

    img {
        width: 300px;
    }

    p {
        text-align: center;
        line-height: 30px;
        width: 70%;
        font-size: 1.5em;
        color: $grey;
    }
    &::after {
        content: '';
        position: absolute;
        right: 0; bottom: 0;
        width: 0; 
        height: 0; 
        border-left: 100px solid transparent;
        border-bottom: 100px solid $white;
    }
}