.learnMore {
    height: 100vh;
    background : $gradient;
    &-header {
        display: flex;
        flex-direction: column;
        gap: 15px;
        h1 {
            color: $secondary;
            font-size: 3em;
            margin-bottom: 10px;
        }
        p{
            width: 40%;
            text-justify: justify;
            font-size: 1.3em;
            line-height: 25px;
            font-weight: 300;
            color:$white;
        }
    }
    h4 {
        font-size: 1.5em;
        color:$secondary;
    }
    &-grid {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        background-image: url('~/assets/grid.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &-container {
        height: 100%;
        position: relative;
        top: 16%;
        left: 7%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .button {
            position: absolute;
            bottom: 30%;
            right: 20%;
        }
    }
    &-content {
        display: flex;
        flex-direction: row;
        gap: 30px;

        .container {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 30%;
            color: $white;
            h5 {
                font-size: 2em;
            }
            span {
                font-size: 1.3em;
                &::before {
                    content: '';
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    margin-right: 10px;
                    background-color: $secondary;
                }
            }
    
            p {
                color: #E0E0E0;
                font-size: 1.5em;
            }
        }
    }
}
