footer {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    background-color: $black;
    p, a {
        color: $white;
    }
    .button {
        margin-top: 50px;
    }
    .copyrights {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 72px;
        }
        p {
            padding: 10px;
            width: 55%;
            color: $grey;
            text-align: center;
        }
    }
    .socials {
        display: flex;
        flex-direction: row;
        gap: 10px;
        li {
            padding: 0.5em;
            width: fit-content;
            background-color: $blackWhiter;
            border-radius: 12px;

            img {
                fill: $primary;
                width: 16px;
                height: 16px;
            }
        }
    }
    .footerLinks {
        display: flex;
        flex-direction: row;
        gap: 45px;
        margin-bottom: 50px;
        li {
            text-transform: uppercase;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .certifications {
        img {
            width: 100px;
            height: 100px;
        }
    }
}